/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*End style sheet reset */


html{
    background-color:white;
    
}

#bookContainer{
    padding-top:5em;
    width:95vw;
    color:white;
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin: 0 auto;   
    
  

    
}
.bookCard{
    background-color:#304b6e;
    text-align: center;
    flex-basis:13rem;
    min-height: 30vh;
    border-radius: .2em;
    padding-top:6em;
    margin: 1em;   
    margin-top: 1em;
    margin-bottom:1em;
    font-size:1.5em;
    box-shadow: 0 0 .3em #333; 


}

nav{
    background-color:#304b6e;
    font-size:2em;
    height:1em;
    display:block;
    color:white;
    padding:1em;
    position:fixed;
    width:100vw;
    box-shadow: 0 0 .3em #333; 

    
}

/*
Light:   #5e769c
Normal:  #304b6e
Dark:    #002443

 or

 Sec primary: #304b6e
 light:       #5e769c
 dark:        #002443
*/